<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <h1>Покупка акции</h1>
    <h3 th:text="'Ваш баланс: ' + ${user.score}"/>
    <p th:text="'Название акции: ' + ${stock.name}"/>
    <p th:text="'Цена одной акции: ' + ${stock.price}"/>

        <form method="post">
            <div th:text = "${score_error}" style="color:red"/>
            <input type="text" name="count" placeholder="Количество акций" class="form-control"><br>
            <button type="submit" class="btn btn-success">Купить</button>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        </form>

</div>
</body>
</html>