<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
hello
<a class="nav-link px-2 link-dark" href="/stock/pull_stocks">Перейти к покупке акций</a>
<h3><p th:text="'Ваш баланс: ' + ${user.score} + 'руб'"/></h3>
<h3>Мои акции</h3>
<table>
    <tr><th>ID</th>
        <th>Название акции</th>
        <th>Количество</th>
        <th>Средняя цена покупки</th>
        <th>Текущая цена акции</th>
        <th>Прибыль</th>
        <th>Продажа</th>
    </tr>
    <!--ряд с ячейками заголовков-->
    <div th:each="element : ${marketPlusList}" class="alert alert-info mt-2">
        <tr>
            <td><p th:text="${element.market.id}"/></td>
            <td><p th:text="${element.market.stock.name}"/></td>
            <td><p th:text="${element.market.count}"/></td>
            <td><p th:text="${element.market.purchase_price}"/></td>
            <td><p th:text="${element.market.stock.price}"/></td>
            <td><p th:text="${element.difference}" style="color:green"/></td>
            <td><a class="nav-link px-2 link-dark" th:href="'/market/sell/' + ${element.market.stock.name}"><p th:text="'Продать акции ' + ${element.market.stock.name}"/></a></td>
        </tr> <!--ряд с ячейками тела таблицы-->
    </div>
</table>
</body>
</html>